canvas {
  position: absolute; 
	top: 0px; 
	left: 0px; 
	z-index: -1;
	border-color: red;
}

p, label, input {
	position: fixed;
}

label {
	margin-left: 20px
}


footer {
	bottom : 2px;  
  height : 40px;  
  margin-top : 40px;  
  text-align: center;  
  vertical-align: middle; 
  position:fixed;
  width:100%;
}